@{

    Layout = "MyLayout";
    ViewData["Title"] = "Confirmação de Evento de Voluntariado";

}



@model CalendarioVoluntariado

<div class="m-100"></div>

<div class="container">
    <div class="text-center">
        <div class="m-25">
            <p class="text-center">
                Obrigado(a) pela sua sugestão.
            </p>

            <div class="m-25"></div>

            <p class="text-center">
                O evento será avaliado e depois de aprovado será colocado na nossa página.
            </p>

            <div class="m-25"></div>

            <p class="text-center">
                <b>Até breve!</b>
            </p>
        </div>
    </div>

    <div class="text-center">
        <img src="~/recursos/Home/DWC LOGO 2.0 PNG.png" style="width:200px; height:200px" />
    </div>

    <div class="m-30"></div>

    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Voluntariado" asp-action="Index"><span class="glyphicon"></span> Voltar à página Voluntariado</a>
    </div>

    <div class="m-80"></div>
</div>



