@{
    Layout = "MyLayout";
    ViewData["Title"] = "Voluntariado";
}

<div class="margem5"></div>

<div class="margem"></div>
<h1>Seja um dos nossos voluntári<img src="~/recursos/Home/DWC LOGO 2.0 PNG WT.png" style="width:30px; height:30px" />s!</h1>
<div class="margem4"></div>


@model Voluntariado

<div class="container">
    <div class="text-center">
        <h4>Preencha o seguinte formulário</h4>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form asp-action="NovoVoluntario" method="post">
                <div asp-validation-summary="All"></div>
                <div class="row">
                    <div class="col-8">
                        <label asp-for="Nome">Nome Completo: *</label>
                        <input class="form-control" id="nome" name="nome" asp-for="Nome" />
                    </div>
                    <div class="col-4">
                        <label asp-for="DataNascimento">Data de Nascimento: *</label>
                        <input class="form-control" type="date" id="DataNascimento" name="DataNascimento" asp-for="DataNascimento" />
                    </div>
                </div>

                <div class="m-25"></div>
                <!--<div class="m-30"></div>-->

                <div class="row">
                    <div class="col-5">
                        <label asp-for="NIF">NIF: *</label>
                        <input class="form-control" asp-for="NIF" />
                    </div>
                    <div class="col-7">
                        <label asp-for="Disponibilidade">Disponibilidade Horária:</label>
                        <select class="form-control" asp-for="Disponibilidade">
                            <option value="1-5 Horas Semanais">1-5 Horas Semanais</option>
                            <option value="5-10 Horas Semanais">5-10 Horas Semanais</option>
                            <option value="10-25 Horas Semanais">10-25 Horas Semanais</option>
                            <option value="25-50 Horas Semanais">25-50 Horas Semanais</option>
                        </select>
                    </div>
                </div>

                <div class="m-25"></div>
                <!--<div class="m-30"></div>-->

                <div class="row">
                    <div class="col-5">
                        <label asp-for="NumTelemovel">Número de Telemóvel: *</label>
                        <input class="form-control" asp-for="NumTelemovel" />
                    </div>
                    <div class="col-7">
                        <label asp-for="Email">E-mail: *</label>
                        <input type="email" class="form-control" asp-for="Email" />
                    </div>
                </div>

                <div class="m-25"></div>

                <div class="row">
                    <div class="col-6">
                        <label asp-for="Morada">Morada:</label>
                        <input class="form-control" asp-for="Morada" />
                    </div>
                    <div class="col-3">
                        <label asp-for="Localidade">Localidade: *</label>
                        <input class="form-control" asp-for="Localidade" />
                    </div>
                    <div class="col-3">
                        <label asp-for="CodigoPostal">Código Postal: *</label>
                        <input class="form-control" asp-for="CodigoPostal" placeholder="xxxx-xxx" />
                    </div>
                </div>

                <div class="m-25"></div>

                <div class="form-group">
                    <label asp-for="SobreMim">Sobre Mim:</label>
                    <textarea class="form-control" name="SobreMim" cols="50" rows="5" style="width:100%"></textarea>
                </div>
                <div class="margem">
                    <small>Os campos assinalados com (*) são de preenchimento obrigatório</small>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-light btn-outline-info">Adicionar Voluntário</button>
                </div>

            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>


