@{
    Layout = "MyLayout";
    ViewData["Title"] = "Água_Problemática";
}

<!--Imagem de Topo-->
<div class="jumbotron">
    <img src="~/recursos/Agua/Problematica/03567.jpg" class="img-fluid" id="imgAguasProblematica">
</div>

<!--Titulo e texto de topo da página da água - problemática ambiental e social-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Água - Problemática Ambiental e Social</h1>
            <p>
                Com o aumento da população mundial, a escassez de água tem tendência a aumentar até 2050.
                Isso pode criar conflitos e, consequentemente, a uma progressiva desagregação social em alguns pontos do globo.
                A sua poluição também tem causado transtorno a vários níveis, sendo uma ameaça real à sua qualidade, à saúde e ao meio ambiente.
                Constantemente, detritos tóxicos têm sido despejados nos rios, lagos ou águas costeiras, que podem matar os organismos vivos e se acumular nos tecidos dos peixes e crustáceos.
                Estes animais fazem parte da cadeia alimentar humana, e a sua ingestão pode provocar graves danos à saúde.
                Mais do que nunca, será preciso que todos contribuam para racionar este bem vital de forma prática, de modo a tornar-se possível tê-lo em quantidade e com qualidade para toda a população no futuro próximo.
            </p>
        </div>
    </div>
</div>

<!--ARTIGOS----------------------------------------------------------------------->
<div class="container-fluid article-background">
    <div class="row">
        <h1>Artigos</h1>
        <div class="col-lg-3">
            <a href="https://www.sciencedaily.com/releases/2018/12/181213090004.htm">
                <div class="card">
                    <img class="article-image" src="~/recursos/Agua/Problematica/secaportugal_01.jpg" alt="Artigo 1" style="width:100%">
                    <h5>Longa Seca</h5>
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.nationalgeographic.com/environment/natural-disasters/floods/">
                <div class="card">
                    <img class="article-image" src="~/recursos/Agua/Problematica/unnamed.jpg" alt="Artigo 2" style="width:100%">
                    <h5>Inundações</h5>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="https://academic.oup.com/bmb/article/68/1/199/421245">
                <div class="card">
                    <img class="article-image" src="~/recursos/Agua/Problematica/0000178221-1024x683.jpg" alt="Artigo 3" style="width:100%">
                    <h5>Contaminantes na Água Potável</h5>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="https://www.medicalnewstoday.com/articles/water-pollution-and-human-health">
                <div class="card">
                    <img class="article-image" src="~/recursos/Agua/Problematica/images.jpg" alt="Artigo 4" style="width:100%">
                    <h5>Poluição da Água - Doenças</h5>
                </div>
            </a>
        </div>
    </div>
</div>

<!--Quotes----------------------------------------------------------------------->
<div class="container">
    <div class="row">
        <blockquote class="quote-card">
            <p>
                Em 2040, perto de 600 milhões de crianças [uma em cada quatro] vão viver em regiões de escassez de água. Se não forem tomadas medidas adequadas, muitas destas crianças vão sofrer um risco elevado de morte, doença e má nutrição.
            </p>
            <cite>
                UNICEF
            </cite>
        </blockquote>
    </div>
</div>


<!--Subtema Quantidade-->
<div class="container">
    <div class="margem2">
        <h3 class="titulo">Quantidade</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div class="margem6">
                    <p>
                        A quantidade de água à superfície da terra é irregular, em alguns lugares existem secas prolongadas, noutros existe água em abundância devido a fortes precipitações causando cheias. Para agravar a situação, as alterações climáticas vieram acentuar mais esta problemática.
                    </p>
                </div>
            </fieldset>
        </div>

        <div class="col-md-9">
            <fieldset>
                <div class="margem2">
                    <ul>
                        <li><b>Secas</b></li>
                    </ul>
                    <p>
                        Segundo a Organização das Nações Unidas, cinco mil milhões de pessoas vão ser afetadas pela escassez de água, se não forem tomadas medidas.
                        Os cenários de secas têm ficado cada vez mais extremos em consequência das alterações climáticas, salienta a ONU no <a href="https://unesdoc.unesco.org/ark:/48223/pf0000261594_por">relatório</a> mundial sobre o Desenvolvimento dos Recursos Hidricos em 2018.
                        Atualmente, estima-se que 3,6 mil milhões de pessoas (quase metade da população mundial) vivam em áreas que apresentam uma potencial escassez de água de pelo menos um mês por ano,
                        e essa população poderá aumentar para um número entre 4,8 mil milhões e 5,7 mil milhões de pessoas até 2050.
                    </p>
                </div>
            </fieldset>
        </div>

        <div class="col-md-3">
            <div class="margem2">
                <img src="~/recursos/Agua/Problematica/alteracoes-climaticas-as-secas-estao-a-amea-ar-as-zonas-humidas-285011-2.jpg" style="width:300px;">
            </div>
        </div>
    </div>


    <!--Subtema Qualidade-->
    <div class="margem2">
        <h3 class="titulo">Qualidade</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div class="margem6">
                    <p>
                        Em relação à sua qualidade pode-se dizer que tem havido uma crescente poluição e contaminação desta ao longo dos últimos tempos, devido ao seu crescente consumo pela sociedade humana, quer nos paises desenvolvidos, quer nos países em desenvolvimento.
                    </p>
                </div>
            </fieldset>
        </div>

        <div class="col-md-9">
            <fieldset>
                <div class="margem2">
                    <ul>
                        <li><b>Contaminação da Água</b></li>
                    </ul>
                    <p>
                        A poluição da água consiste em qualquer modificação física, química ou biológica da qualidade da água, tornando-a imprópria para consumo humano.
                        Os principais contaminantes da água são os pesticidas e herbicidas, mercúrio, bactérias, vírus e parasitas, metais pesados, sulfuretos, cianeto, dioxinas, matéria orgânica, etc.
                        As estatísticas são evidentes: dois milhões de toneladas de esgoto, bem como resíduos industriais e agrícolas são descarregados em cursos de água do mundo, de acordo com relatório publicado pelo Pnuma (programa das Nações Unidas para o Meio Ambiente) em 2010.
                    </p>
                </div>
            </fieldset>
        </div>

        <div class="col-md-3">
            <div class="margem2">
                <img src="~/recursos/Agua/Problematica/poluicao.agua.jpg" style="width:300px;">
            </div>
        </div>
    </div>


    <!--Tabela-->
    <div class="margem2">
        <h3 class="titulo">Alguns Dados Estatisticos sobre a Água</h3>
    </div>
    <table class="table table-bordered">
        <tr class="table-info"><th>Água consumida este ano (mil milhões de litros)</th><th>Mortes por doenças relacionadas com água(2020)</th><th>Pessoas sem acesso a água potável</th></tr>
        <tr><td>>10.500.000</td><td>~840.000</td><td>>795.000.000</td></tr>
    </table>
</div>

<!--Factores que afetam a disponibilidade de água potável------------------------------------------------>
<div class="container">
    <div class="margem3">
        <h1>Factores que afetam a disponibilidade de água potável</h1>
    </div>
    <div class="row how-to">
        <div class="col-lg-8">
            <div class="margem4">
                <h4>
                    CRESCIMENTO POPULACIONAL
                </h4>
                <p>
                    O uso global da água aumentou seis vezes no último século, o dobro do índice de crescimento populacional.
                    No futuro, caso o crescimento populacional continue neste ritmo, o mundo poderá enfrentar sérios problemas quanto à quantidade
                    disponível deste recurso natural, dado à forte demanda que haverá, provocando a pressão sobre os recursos hidricos finitos.
                    A maioria dos países em vias de desenvolvimento, com o seu rápido crescimento populacional tem sentido os efeitos nefastos da falta de água em certas épocas do ano.
                    Poderemos estar à beira de um desastre se medidas não forem tomadas a tempo de resolver esta situação.
                </p>

                <h4>
                    DESMATAMENTO
                </h4>

                <p>
                    Quando parte de uma floresta é destruída, as árvores deixam de evaporar parte da água extraída do solo, resultando em um clima muito mais seco.
                    O desmatamento reduz o teor de água no solo e de águas subterrâneas, bem como a humidade atmosférica.
                    Em vez de reter as águas das chuvas, que depois se infiltram nos sistemas de águas subterrâneas, as áreas desmatadas se tornam fontes de escoamento superficial da água, que se move muito mais rápido.
                    O transporte mais rápido das águas superficiais pode traduzir-se em inundações e cheias mais localizadas do que poderia ocorrer com a cobertura florestal.
                </p>

                <h4>
                    DESERTIFICAÇÃO
                </h4>
                <p>
                    A Desertificação é uma perda progressiva da fertilidade do solo, pela destruição da sua estrutura e composição, o que leva ao declínio da agricultura, ao abandono da terra, e à emigração.
                    Assim, deste modo, a quantidade de água subterrânea diminui.
                </p>

                <h4>
                    EXCESSIVO CONSUMO E DESPERDICIO
                </h4>
                <p>
                    Na atualidade, o desperdício de água é um dos principais problemas relacionados com a disponibilidade e utilização dos recursos hídricos.
                    Tem sido um fator gerador e determinante de alguns problemas ambientais que o mundo vem enfrentando nas últimas décadas.
                    O seu desperdício pode ser provocado de várias maneiras, seja individualmente por cada um de nós, seja por entidades coletivas, como empresas ou indústrias.
                    Deixar a torneira ligada  sem precisar que ela o esteja, tomar um banho muito demorado ou excesso na limpeza dos carros, são alguns dos fatores de desperdício.
                </p>

                <h4>
                    ALTERAÇÕES CLIMÁTICAS
                </h4>
                <p>
                    As alterações climáticas tem impactos significativos na distribuição temporal e espacial da água, afetando a sua qualidade e a ocorrência mais frequente de cheias e secas,
                    a que acrescem efeitos indiretos resultantes de alterações das atividades económicas e sociais que podem agravar as pressões sobre o meio hídrico, designadamente através
                    de um aumento da procura de água, de um aumento da quantidade de contaminantes ou de alterações do uso do solo.
                    As alterações climáticas poderão provocar impactos nos sistemas de abastecimento de água e na drenagem de águas residuais em algumas regiões do globo mais susceptíveis.
                </p>
            </div>
        </div>


        <!--Did you know?------------------------------------------------>
        <div class="col-lg-3 side">
            <h2>Sabia que...?</h2>
            <div class="content">
                <p>
                    A água é o único mineral que é encontrado naturalmente na Terra em três estados; líquido, gasoso e sólido?
                </p>
                <img class="side-image" src="~/recursos/Agua/Problematica/gelo.jpg" />
                <a href="https://www.usgs.gov/special-topic/water-science-school/science/facts-about-water?qt-science_center_objects=0#qt-science_center_objects">Fonte</a>
            </div>
            <div class="content">
                <p>
                    70% do cérebro humano é água?
                </p>
                <img class="side-image" src="~/recursos/Agua/Problematica/mente-potencializada.jpg" />
                <a href="https://www.drilcorp.com/25-facts-water/">Fonte</a>
            </div>
            <p>
                Água contaminada mata uma criança a cada 15 segundos?
            </p>
            <img class="side-image" src="~/recursos/Agua/Problematica/images2.jpg" />
            <a href="https://memoria.ebc.com.br/agenciabrasil/noticia/2013-03-22/falta-de-agua-de-qualidade-mata-uma-crianca-cada-15-segundos-no-mundo-revela-unicef">Fonte</a>
        </div>
    </div>
</div>


<!--Videos-->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="margem3">
                <span>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Om42Lppkd9w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </span>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="margem3">
                <span>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zCheAcpFkL8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </span>
            </div>
        </div>
    </div>
</div>