@{

    Layout = "MyLayout";
    ViewData["Title"] = "Confirmação de Animal";

}



@model AnimaisExtincao

<div class="m-100"></div>

<div class="container">
    <div class="text-center">
        <div class="m-25">
            <p class="text-center">
                Obrigado(a) pela tua contribuição.
            </p>

            <div class="m-25"></div>

            <p class="text-center">
                <b>Até breve!</b>
            </p>
        </div>
    </div>

    <div class="text-center">
        <img src="~/recursos/Home/DWC LOGO 2.0 PNG.png" style="width:200px; height:200px" />
    </div>

    <div class="m-30"></div>

    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Conteudos" asp-action="VidaSelvagem"><span class="glyphicon"></span> Voltar à página Vida Selvagem</a>
    </div>

    <div class="m-80"></div>
</div>



