@{

    Layout = "MyLayout";
    ViewData["Title"] = "Confirmação de Lista";

}



<div class="m-100"></div>

<div class="container">
    <div class="text-center">
        <div class="m-25">
            <p class="text-center">
                Aprovação submetida.
            </p>
        </div>
    </div>

    <div class="text-center">
        <img src="~/recursos/Home/DWC LOGO 2.0 PNG.png" style="width:200px; height:200px" />
    </div>

    <div class="m-30"></div>

    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index"><span class="glyphicon"></span> Voltar à página Principal</a>
    </div>

    <div class="m-80"></div>
</div>



