@{

    Layout = "MyLayout";
    ViewData["Title"] = "Floresta";

}

<div class="jumbotron">
    <img src="~/recursos/Floresta/florestas_img.jpg" class="img-fluid" id="imgFloresta" />

</div>

<!--Descrição das florestas -->
<div class="container">
    <div class="row">

        <div class="col-lg-12">

            <h1>Floresta</h1>
            <p>

                Floresta é uma área com alta densidade de árvores. Segundo dados da Organização das Nações Unidas para a Alimentação e a Agricultura,
                as florestas ocupavam em 2006 cerca de 4 bilhões de hectares ou aproximadamente 30% da superfície terrestre. As florestas são vitais para a vida do ser humano,
                devido a muitos fatores principalmente de ordem climática.
                As florestas são o ecossistema terrestre dominante da Terra e são distribuídas ao redor do globo. De acordo com a definição amplamente utilizada,
                da Organização para a Alimentação e a Agricultura,
                as florestas cobriam 41 km² do globo em 1990 e 39.9 km² em 2015.

            </p>

        </div>

    </div>
</div>

<!--ARTIGOS----------------------------------------------------------------------->
<div class="container-fluid article-background">
    <div class="row">
        <h1>Artigos</h1>
        <div class="col-lg-3">
            <a href="https://www.nationalgeographic.org/article/ecological-benefits-fire/">
                <div class="card">
                    <img class="article-image" src="~/recursos/Floresta/artigos_beneficiosecologicos.jpg" alt="Artigo 1" style="width:100%">
                    <h5>Os benefícios ecológicos do fogo</h5>
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.nationalgeographic.org/encyclopedia/air-pollution/">
                <div class="card">
                    <img class="article-image" src="~/recursos/Floresta/artigos_poluicaoar.jpg" alt="Artigo 2" style="width:100%">
                    <h5>Poluição do ar</h5>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="https://www.nationalgeographic.org/maps/triple-threats/">
                <div class="card">
                    <img class="article-image" src="~/recursos/Floresta/artigos_ameacastriplas.jpg" alt="Artigo 3" style="width:100%">
                    <h5>Ameaças Triplas</h5>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="https://www.nationalgeographic.org/media/fighting-fire-tech/">
                <div class="card">
                    <img class="article-image" src="~/recursos/Floresta/artigos_combaterfogo.jpg" alt="Artigo 4" style="width:100%">
                    <h5>Combater o fogo com tecnologia</h5>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="margem2"></div>

<!--Quotes----------------------------------------------------------------------->
<div class="container">
    <div class="row">
        <blockquote class="quote-card">
            <p>

                When you are kind to someone in trouble, you hope they'll remember and be kind to someone else. And it'll become like a wildfire.

            </p>
            <cite>

                Whoopi Goldberg

            </cite>
        </blockquote>
    </div>
</div>

<div class="margem2"></div>

<!--O que podemos fazer-->
<div class="container">
    <h1>O que podemos fazer</h1>
    <div class="row how-to">
        <div class="col-lg-8">

            <h4>CUMPRA TODAS AS LEIS E REGULAMENTOS LOCAIS</h4>
            <p>

                Muitos municípios têm leis que regem a queima de todos os tipos, incluindo hora do dia, época do ano e quais substâncias podem ser queimadas.

            </p>

            <div class="margem2"></div>

            <h4>USE APENAS LOCAIS DE FÁCIL CONTROLE PARA A QUEIMA</h4>
            <p>

                Certifique-se de que todas as fogueiras ocorram em fogueiras totalmente cercadas e limite o tamanho de todas as fogueiras. Não importa como algo está sendo queimado,
                é importante fazê-lo em uma área controlada. Os incêndios podem sair rapidamente do controle, por isso é necessário mantê-lo em uma área que forneça alguma contenção para
                que possa ser extinto se necessário.

            </p>

            <div class="margem2"></div>

            <h4>VERIFIQUE O CLIMA</h4>
            <p>

                Nunca é uma boa ideia fazer qualquer tipo de queima se houver ventos fortes. O vento pode atuar como um acelerador e pode espalhar o fogo. Além disso,
                verifique o sistema de classificação de perigo de incêndio mais atual de seu estado, o que explicará a suscetibilidade de quaisquer áreas a incêndios e
                quaisquer precauções extras que possam ser necessárias. O Wildland Fire Assessment System fornece um mapa atualizado com freqüência que mostra a classificação
                atual de perigo de incêndio para cada estado.

            </p>

            <div class="margem2"></div>

            <h4>NÃO QUEIME NADA INCOMUM OU COMBUSTÍVEL</h4>
            <p>

                É comum que as pessoas joguem lixo ou outras coisas em fogueiras, mas esses materiais estranhos podem ocasionalmente reagir violentamente a incêndios e levar a um incêndio
                que se espalha rapidamente. Queime apenas materiais orgânicos, como madeira, folhas ou resíduos de jardim. Itens de papelão e papelão geralmente podem ser queimados,
                mas certifique-se de que seja seguro antes de fazer isso.

            </p>

            <div class="margem2"></div>

            <h4>USE APENAS FOGOS DE ARTIFÍCIO EM ÁREAS CLARAS, SEM FLORESTAS POR PERTO</h4>
            <p>

                As técnicas de prevenção de incêndios florestais podem ser difíceis quando a maioria das pessoas não percebe os danos envolvidos. Por exemplo, durante a
                temporada de férias de 4 de julho, as pessoas adoram fogos de artifício e outros fogos de artifício. No entanto, essas coisas nunca devem ser usadas a menos que
                haja um espaço aberto sem materiais inflamáveis ​​por perto. Além disso, verifique as leis locais, pois muitas restringem totalmente os fogos de artifício.

            </p>

            <div class="margem2"></div>

            <h4>NÃO ATIRE CIGARROS ACESOS PARA FORA DO SEU CARRO EM MOVIMENTO</h4>
            <p>

                Nunca jogue cigarros acesos, materiais para fumar ou fósforos fora do carro ou no chão. Tanto os cigarros quanto os fósforos têm calor suficiente para criar uma faísca.
                Certifique-se de que todos os cigarros estão completamente apagados antes de jogá-los no lixo. Muitos incêndios florestais podem começar batendo descuidadamente a ponta
                de um cigarro no chão, especialmente durante condições perigosamente secas.

            </p>


        </div>

        <!--Sabia que-->
        <div class="col-lg-3 side">
            <h2>Sabia que...?</h2>
            <div class="content">
                <p>
                    90% dos incêndios florestais são causados pelos humanos.
                </p>
                <img class="side-image" src="~/recursos/Floresta/sabiaque_incendioscausadoshumanos.jpg" />
                <a href=" http://www.nps.gov/fire/wildland-fire/learning-center/fire-in-depth/wildfire-causes.cfm">Fonte</a>
            </div>

            <div class="margem2"></div>

            <div class="content">
                <p>
                    Relâmpagos atingem a Terra mais de 100.000 vezes por dia. 10 a 20% desses relâmpagos podem causar incêndio.
                </p>
                <img class="side-image" src="~/recursos/Floresta/sabiaque_relampagosterra.jpg" />
                <a href="http://www.nps.gov/fire/wildland-fire/learning-center/fire-in-depth/wildfire-causes.cfm">Fonte</a>
            </div>

            <div class="margem2"></div>

            <div class="content">
                <p>
                    Uma média de 1,2 milhão de terras são queimadas todos os anos nos EUA.
                </p>
                <img class="side-image" src="~/recursos/Floresta/sabiaque_terrasqueimadas.jpg" />
                <a href="http://ready.arkansas.gov/stayInformed/Pages/wildfires.aspx">Fonte</a>
            </div>

        </div>
    </div>
</div>

