@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Recusado";
}

<div class="margem5"></div>

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Não tem permissão para aceder a este recurso!!</p>
</header>
