@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Gestão de Roles";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="margem5"></div>

<h1>Gestão de Roles</h1>

<form method="post" asp-controller="Role" asp-action="AddRole">
    <div class="container input-group">
        <input name="roleName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Adicionar Nova Role</button>
        </span>
    </div>
</form>

<div class="margem"></div>

<table class="table container">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>

                <td>@role.Id</td>
                <td>@role.Name</td>

            </tr>
        }
    </tbody>
</table>

<div class="container d-grid gap-2">

    <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Index"><span class="glyphicon"></span> Voltar </a>

</div>