@{

    Layout = "MyLayout";
    ViewData["Title"] = "Sobre Nós";

}
<div class="margem5"></div>

<h1>Sobre Nós</h1>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img class="round-images" src="~/recursos/SobreNos/Foto_AnaPereira.jpg" alt="ANA" style="width:150px">
        </div>
        <!--ANA-->
        <div class="col-md-6">

            <div class="margem2"></div>

            <h4>Ana Pereira, 40</h4>
            <p>
            <p>
                Formação: É licenciada em Educação Musical pela Escola Superior de Educação do Instituto Piaget de Almada e Mestre em Musicoterapia pela Universidade Lusíada de Lisboa.
            </p>
            <p>
                Biografia: Em 2008 começou o seu percurso como cantora profissional e letrista o que lhe permitiu conhecer e tocar com grandes músicos no panorama musical português e pisar grandes palcos no âmbito nacional.
                Trabalhou como Musicoterapeuta e conta com artigos publicados em revistas como a Almadaforma. Realizou workshops e ações de sensibilização de Musicoterapia e também lecionou canto, técnica vocal e educação musical nas AEC´s de Música em escolas primárias do concelho de Almada.
                Embora a sua paixão seja a música, com o panorama musical em Portugal restrito teve de encontrar novos caminhos, foi sócia gerente de um estabelecimento de restauração e bebidas e trabalhou como Administrativa em várias empresas.
                Devido à pandemia Covid19 ficou desempregada, atualmente encontra-se a frequentar uma formação em .Net no programa Upskill no Instituto Politécnico de Setúbal.
            </p>
            <p>
                Hobbies: Música, Fotografia, Restauro e pintura decorativa de mobiliário.
            </p>

        </div>

        <div class="col-md-6"></div>

    </div>
</div>

<div class="margem3"></div>

<div class="container">
    <div class="row">

        <div class="col-md-4"></div>
        <!--CARLOS-->
        <div class="col-md-6">

            <div class="margem2"></div>

            <h4>Carlos Santos, 36</h4>
            <p>
                Formação: Licenciado em Engenharia de Ambiente na Escola Superior de Tecnologia no Instituto Politécnico de Setúbal
                e Mestre em Ciências Geofísicas, especialização em Geofísica Interna, na Faculdade de Ciências da Universidade Lisboa.
            </p>
            <p>
                Biografia: Natural de Lisboa e vivendo actualmente em Setúbal, formou-se nos cursos académicos acima citados.
                A seguir a ter completado a sua licenciatura em Engenharia de Ambiente estagiou na Associação Portuguesa de Inspeção e Prevenção Ambiental (APAMB) em Setúbal.
                Posteriormente, no decorrer do mestrado em Ciências Geofísicas, foi assistente de investigação no âmbito da tese de mestrado em ruído sísmico ambiente.
                Foi selecionado para Trainee pela COST (European Cooperation in Science & Technology) para participar no TIDES (MS)Noise Training Course em Viena, Aústria.
                Ainda fez um curso de Especialização Tecnológica de Automação, Robótica e Controlo Industrial na ATEC, tendo realizado a seguir estágio na Continental Teves Portugal - Sistemas de Travagem, Lda., em Palmela,
                como técnico de métodos e tempos nos processos produtivos no Departamento de Engenharia Industrial. De momento frequenta a formação em .Net no âmbito do programa Upskill no Instituto Politécnico de Setúbal,
                tendo a expectativa de poder vir a trabalhar numa empresa no ramo das TIC.

            </p>
            <p>
                Hobbies: Apreciador da natureza e de astronomia. Apreciador de cinema, séries e desporto. Gosta de assistir aos Jogos Olímpicos e Mundiais de Futebol.
                Gosta de ler. Tem por hábito escrever, tendo o objectivo de um dia participar em concursos internacionais de escrita criativa e poder publicar um livro.
                Aprecia ouvir orquestras de bandas sonoras de filmes.
            </p>
        </div>

        <div class="col-md-2">
            <img class="round-images" src="~/recursos/SobreNos/Foto_CarlosSantos.jpg" alt="Carlos" style="width:150px">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img class="round-images" src="~/recursos/SobreNos/Foto_CarolinaLourenco.jpg" alt="ANA" style="width:150px">
        </div>
        <!--CAROLINA-->
        <div class="col-md-6">

            <div class="margem2"></div>

            <h4>Carolina Lourenço, 34</h4>
            <p>
                Formação: Depois de um breve ingresso de 2 anos na Licenciatura em Arquitectura, frequentei o Mestrado Integrado em Psicologia Clínica e mais recentemente concluí o Curso Técnico de Programação e Maquinação CNC.
                Lema de Vida: Tantos Cursos para fazer e tão pouco tempo.
            </p>
            <p>
                Biografia: Lisboeta, alfacinha de gema, viveu até aos 20 e muitos anos em Lisboa e desde então já mudei de morada para lá de uma dúzia de vezes.
                Adoro viajar e o destino preferido de férias é uma qualquer capital europeia - embora o seu sonho seja conhecer Tokyo! Adora conhecer novas culturas, arquitectura, costumes e não menos importante: comida!
                O Programa UPskill, com formação em .NET alimenta a minha vontade de conhecer uma área completamente nova e fora da minha zona de conforto.

            </p>
            <p>
                Hobbies: Design e execução de peças em tricot e corte e costura; Fantasia/Ficção Científica (leitura, cinema e séries de televisão; Lomografia.
            </p>

        </div>

        <div class="col-md-6"></div>

    </div>
</div>

<div class="margem3"></div>

<div class="container">
    <div class="row">

        <div class="col-md-4"></div>
        <!--MIGUEL-->
        <div class="col-md-6">

            <div class="margem2"></div>

            <h4>Miguel Santana, 18</h4>
            <p>
                Formação: Curso Profissional Técnico de Gestão e Programação de Sistemas Informátivos de nivel 4.
            </p>
            <p>
                Biografia: Nasci em 14/02/2002 em Lisboa, desde de miúdo sempre tive uma paixão pela informática, mais concretamente em video-jogos, daí ter escolhido
                como formação académica algo relacionado com a área de informática que mais tarde me possa ser útil em desenvolvimento de jogos.
                Um dos meus maiores sonhos é tornar-me um desenvolvedor de video-jogos e criar uma empresa e para alcançar tal objetivo planeio dedicar-me e trabalhar
                para conseguir formar-me numa boa licenciatura em desenvolvimento de video-jogos para tornar o meu sonho possível.

            </p>
            <p>
                Hobbies: Conviver com amigos (atualmente via online devido à pandemia), ver series, jogar jogos, etc...
            </p>

        </div>
        <div class="col-md-2">
            <img class="round-images" src="~/recursos/SobreNos/Foto_MiguelSantana.jpg" alt="Rita" style="width:150px">
        </div>
    </div>
</div>

<div class="margem3"></div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img class="round-images" src="~/recursos/SobreNos/Foto_RitaMalaquias.jpg" alt="RUI" style="width:150px">
        </div>
        <!--RITA-->
        <div class="col-md-6">
            <div class="margem2"></div>
            <h4>Rita Malaquias, 27</h4>
            <p>
                Formação: Licenciada em Design Gráfico e Multimédia (ramo Multimédia) pela ESAD das Caldas da Rainha
            </p>
            <p>
                Biografia: Natural de Lisboa e actualmente a viver na Quinta do Conde (Sesimbra), tendo passado também pelas Caldas da Rainha para frequentar a licenciatura.
                Depois de completar a licenciatura, trabalhou no seu primeiro videojogo onde fez toda a parte gráfica e arte 2D em pixel art, tendo este jogo saído para plataformas como o Steam,
                Xbox e Nintendo Switch. De seguida, trabalhou noutro videojogo mas desta vez para mobile.
                Depois destes dois trabalhos, foi convidada a ser motion designer para uma agência de esports nacional. Fez todas as animações que eram transmitidas em directo na plataforma Twitch,
                bem como a imagem de outros programas de apresentação dessa agência de esports.
                Em tempos mais livres do trabalho, fazia design de tshirts e chegou a trabalhar com duas empresas internacionais, em que uma delas mostrou interesse num design específico e a convidou
                a trabalhar directamente com eles.
            </p>
            <p>
                Sempre teve interesse nos videojogos, principalmente os jogos retro e indie. Um dia quer criar um jogo seu de raiz: desde a programação, design, arte e música.
            </p>
            <p>
                Hobbies: videojogos, ler, ilustração e um pouco de música (baixo e chegou a tocar uns tempos violoncelo)
            </p>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>

<div class="margem3"></div>

<div class="container">
    <div class="row">

        <div class="col-md-4">

        </div>
        <!--RUI-->
        <div class="col-md-6">
            <div class="margem2"></div>
            <h4>Rui Ferreira, 29</h4>
            <p>
                Formação: 12º Ano em Ciências e Tecnologias
            </p>
            <p>
                Biografia: Natural do Barreiro, encontro-me atualmente a frequentar a formação .NET do Programa UpSkill - Digital Skills and Jobs no Instituto Politécnico de Setúbal.
                Tendo como formação o 12º ano em Ciências e Tecnologias, ingressei no mercado de trabalho na área do Design, Impressão & Publicidade, na qual permaneci até ao ano transato.
                Desde sempre tive um gosto especial pela informática, nomeadamente pela manutenção de Hardware bem como Softwares de criação e edição de imagem.
                Gosto muito de assistir desporto de alta competição, nomeadamente Futsal, o qual pratico e fui federado durante vários anos.
            </p>
            <p>
                Hobbies: Fotografia, Música (Guitarra Electro - Acústica), Pintura (com Pastel a Óleo) e Videojogos,
                nomeadamente de jogos de mundo aberto como Spider-Man, Assassin’s Creed, Horizon Zero Dawn, Red Dead Redemption 2, Mafia, entre outros.
            </p>
        </div>

        <div class="col-md-2">
            <img class="round-images" src="~/recursos/SobreNos/Foto_RuiFerreira.jpg" alt="Rita" style="width:150px">
        </div>
    </div>
</div>

<div class="margem3"></div>